.TodoItem {
    text-align: center;
    margin-bottom: 10px;
}

img {
     vertical-align: middle;
}

.img-right {
    float: right;
}

.half-transparent {
    opacity: 0.5;
}

.half-transparent:hover{
    opacity: 0.7;
}

.check {
    opacity: 1;
}

.check:hover {
    opacity: 0.5;
}

input {
    border: none;
}

input:hover {
    border: none;
}

